{% extends "base.html.twig" %}

{% block body %}
    {% block content %}

 {{form(establishmentForm)}}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}